@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-header: #00020E;
    --color-fondo: rgba(115,134,204,0.4);
    /* --color-fondo: rgb(226, 227, 228); */
    --color-footer: #091830;
    --color-titulos: #4D51BF;
    --color-titOSC: #3f429c;
    --color-subTitulos: #FF5D00;
    --color-subOsc: #c74c04;
    --color-fondo-btns: #bec1ebf8;
    --color-fuentes: #fff;
    --color-ventanas: #1E2028;
    --border-raduis: 16px;
    --logo-redondo: url(../img/g12.png);
    --logo-cuadrado: url(../img/radeans.png);
    --gradiente: linear-gradient(90deg, rgba(77, 81, 191, 1) 13%, rgba(255, 255, 255, 1) 49%, rgba(255, 93, 0, 1) 89%);
}

/* ---------------------------------------------Reset CSS--------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

section{
    scroll-margin-top: 110px;
}

/* body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-subTitulos);
    outline: none;
    border-radius: 6px;
} */

/* ---------------------------------------------Estilos globales--------------------------------------------- */

.titulos {
    color: var(--color-titulos);
    font-weight: 600;
    font-size: 2.2rem;
}

.subtitulos{
    color: var(--color-subTitulos);
    font-weight: 600;
    font-size: 1.7rem;
}

body{
    background-color: var(--color-fondo);
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 90vh;
}

.activo{
    transform: scale(1.2);
}
/* ---------------------------------------------Header--------------------------------------------- */

header {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    opacity: 80%;
    padding: 10px 32px;
    display: grid;
    grid-template-columns: 10% 68% 20% ;
    grid-gap: 10px;
    position: fixed;
    z-index: 1;
}

.logo {
    background-image: var(--logo-cuadrado);
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto; 
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul li:first-child{
    padding: 0;
}

nav ul li a,
.navLog, .navLog > a , .pmenuBTN, .cajaMenu > a{
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-fuentes);
}

nav ul li a:hover, .logAcc:hover , .pmenuBTN:hover, .cajaMenu > a:hover{
    color: var(--color-subTitulos);
}

header .navLog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logReg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-subTitulos);
    width: 145px;
    height: 40px;
    border-radius: 22px;
}

.logReg:hover{
    background-color: var(--color-titulos);
}

.dropmenu{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
}

.menuBTN {
    height: 100%;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cajaMenu{
    width: 100%;
    background-color: var(--color-header);
    display: none;
    position: absolute;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 18px 8px 8px 8px;
    top: 70px;
    left: 75%;
}

.menuBTN:hover + .cajaMenu{
    display: flex;
}

.cajaMenu:hover{
    display: flex;
}
/* ---------------------------------------------Slides index--------------------------------------------- */

.cajaSlider{
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .contenedorSlider{
    background-color: var(--color-ventanas);
    border-radius: var(--border-raduis);
    padding: 24px;
    width: 100%;
    position: relative;
} */

.contenedorSlider i {
    top: 40%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.contenedorSlider i:first-child {
    left: 10px;
    display: none;
}

.contenedorSlider i:last-child{
    right: 10px;
}

.slider {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider .dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.slider.dragging img{
    pointer-events: none;
}

.slider img {
    height: 80vh;
    object-fit: cover;
    width: calc(100% / 2);
}

.slider img:first-child{
    margin-left: 0px;
}

/* ---------------------------------------------Nosotros index--------------------------------------------- */

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 24px;
    color: var(--color-header);
    max-width: 60vw;
}

.nosotrosTexto {
    color: var(--color-footer);
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

/* ---------------------------------------------Servicios--------------------------------------------- */

.servicios{
    max-width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 110px 0 60px 0;
    gap: 20px;
}
.servicios > article > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.servicios > article{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.serviciosMenu{
    width: 460px;
    height: 60px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--color-fondo-btns);
    border-radius: 24px;
}

.btnMenuServ{
    display: block;
    cursor: pointer;
    background-color: var(--color-subTitulos);
    padding: 8px 6px;
    border-radius: 8px;
    border: 1px solid var(--color-subOsc);
    transition: all 300ms ease-in-out;
    background-repeat: no-repeat;
    background-size: 32px;
    background-position: center;
    width: 60px;
    height: 40px;
}

.btnMenuServ:hover{
    background-color: var(--color-titulos);
    border-color: var(--color-titOSC);
}

.pelu{
    background-image: url(../img/pelu.png);
}
.barb{
    background-image: url(../img/barb.png);
}

.mani{
    background-image: url(../img/mani.png);
}

.pedi{
    background-image: url(../img/pedi.png);
}

/* ---------------------------------------------Login, Registro y Recuperacion de contraseña --------------------------------------------- */

.log,
.reg {
    min-height: 80vh;
    width: 100%;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin-bottom: 30px;
}

.logT {
    display: flex;
    align-items: center;
    justify-content: center;
}

.logT>h2,
.reg>h2 {
    font-size: 32px;
}

.contLogin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contLogin-Caja {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contLogin-Caja>div {
    width: 100%;
    height: 100%;
}

.contLogin-Caja>div>label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    color: var(--color-header);
    font-weight: 600;
    font-size: 22px;
}

.contLogin-Caja>div>label>input {
    width: 320px;
    height: 38px;
    padding: 6px 8px;
    border: 3px solid var(--color-titulos);
    border-radius: 16px;
    outline: none;
    font-size: 22px;
    font-weight: 400;
    transition: 500ms;
}

.contLogin-Caja>div>label>input:focus {
    border-color: var(--color-subTitulos);
}

.contLogin-Botonera {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contLogin-Contra,
.contLogin-Contra2 {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-header);
}

.contLogin-Contra:hover {
    color: var(--color-titulos);
}

.accederBTN {
    background-color: var(--color-titulos);
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 500ms;
}

.accederBTN:hover {
    background-color: var(--color-subTitulos);
}

.contlog2 {
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contlog2-Caja {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logoR {
    width: 120px;
    height: 120px;
    background-image: var(--logo-redondo);
    background-repeat: no-repeat;
    background-size: contain;
}

.contlog2-msj {
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-header);
}

.contLogin-Contra2 {
    color: var(--color-subTitulos);
}

.contLogin-Contra2:hover {
    color: var(--color-titulos);
}

.regbtn {
    width: 140px;
}

.cajaMensaje {
    width: 100%;
    height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.checkReg {

    width: 22px;
    height: 22px;
    margin-right: 8px;

}

.recBtn{
    width: 260px;
}

/* -------------------------------------------Generar Turnos------------------------------------------- */

.gestionTurnos,.reservaciones{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 100vw;
    min-height: 80vh;
    padding: 110px 0 60px 0;
}

.gTurnos, .rTurnos{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 42px;
    align-items: center;
}

.fTurnos, .fTurnosRes{
    display: flex;
    gap: 80px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fselect{
    outline: none;
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--color-header);
    max-width: 300px;
    height: 28pxpx;
    padding: 6px;
    border: 2.3px solid var(--color-subTitulos);
    border-radius: 6px;
}

.tlabel {
    display: flex;
    flex-direction: column;
    color: var(--color-header);
    font-weight: 600;
    font-size: 1.3rem;
    gap: 13px;
}

.tlabel > select:nth-child(){
border: 2.3px solid var(--color-titulos);
}

.cajaSelects{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* .formCat{

}

.formServ{

}

.formProf{

}

.formSem{

}
 */
.formHora{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    gap: 30px;
}

.tabGes{
    border-collapse: collapse;
    font-size: 1.3rem;
    text-align: center;
    width: 60vw;
    line-height: 1.5;
}

.tabGesTh{
    font-weight: 600;
}

.tabGesTr{
    border-bottom: 2px solid var(--color-titulos);
    
}

.tabGesTd{
    font-weight: 600;
}

.tabGesTd > input{
    width: 21px;
    height: 21px;
}

.fCajaConf{
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.fchecks{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.fchecks >label{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-weight: 600;
}

.fchecks>label >input{
    width: 21px;
    height: 21px;
}

.fBtn{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

.fGesBTNg{
    color: var(--color-fuentes);
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 16px;
    background-color: var(--color-titulos);
    padding: 12px;
    cursor: pointer;
    transition: all 230ms ease-in;
}

.fGesBTNg:hover{
    background-color: var(--color-subTitulos);
}

.fGesBTNs {
    color: var(--color-fuentes);
    font-size: 1.3rem;
    font-weight: 600;
    border: none;
    outline: none;
    background-color: var(--color-subTitulos);
    border: 3px solid var(--color-subTitulos);
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
}

.fGesBTNs:hover {
    border: 3px solid var(--color-titulos);
    background-color: var(--color-titulos);
}

.mensajes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.menOk, .menErr{
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--color-titulos);
}

.menErr{
    color: var(--color-subTitulos);
}
/* -------------------------------------------Reservas------------------------------------------- */


.fTurnosRes{
    gap: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fBtnRes{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* -------------------------------------------Mis Turnos------------------------------------------- */

.misTurnos{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    min-width: 90vw;
    min-height: 80vh;
    padding: 110px 0 60px 0;
    gap: 20px;
}

/* ----------------------------Cards---------------------------- */

.punt {
    position: relative;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 32px;
}

.sliderCards {
    position: relative;
    max-width: 500px;
    margin: 0 auto;
}

.slider-containerCards {
    display: flex;
    transition: transform 0.3s ease;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 22px;
    width: 260px;
    height: 370px;
    border: 2px solid var(--color-titulos);
    border-radius: 12px;
    background-color: var(--color-fuentes);
    font-size: 1rem;
}

.card:nth-child(even) {
    border-color: var(--color-subTitulos);
}

.cajaContenidosCard {
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.nombreP ,.servP, .fecTur{
    font-size: 1.3em;
    font-weight: 600;
}

.fotoP {
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 50%;
}

.prev-slide,
.next-slide {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prev-slide {
    left: -60px;
}

.next-slide {
    right: -60px;
}

.cancTurBTN{
    color: var(--color-fuentes);
    font-size: 1.3rem;
    font-weight: 600;
    outline: none;
    border: 3px solid var(--color-titulos);
    background-color: var(--color-titulos);
    border-radius: 16px;
    padding: 12px;
    cursor: pointer;
}

.cancTurBTN:hover {
    background-color: var(--color-subTitulos);
    border: 3px solid var(--color-subTitulos);
}
.cancTurBTN:hover + .card{
    border: 2px solid var(--color-subTitulos);
}

/* ---------------------------------------Listado de Turnos--------------------------------------- */

.listados{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-width: 100vw;
    min-height: 80vh;
    padding: 100px 0 60px 0;
    gap: 20px;
}

.MensajesLista{
    background-color: var(--color-subTitulos);
    border: 2px solid var(--color-subOsc);
    color: var(--color-titulos);
    font-size: 16px;
    font-weight: 600;
    padding: 6px;
}

.botoneraLista{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 600px;
    height: 60px;
    background-color: var(--color-fuentes);
}

.btnBotonera{
    text-decoration: none;
    background-color: var(--color-subTitulos);
    border: 2px solid var(--color-subOsc);
    padding: 6px;
    font-size: 1rem;
    font-weight: 600;
    color: var(--color-fuentes);
    border-radius: 6px;
}

.btnBotonera:hover{
    cursor: pointer;
    opacity: 80%;
}

.tabla{
    background-color: var(--color-fuentes);
    font-size: 18px;
    border-collapse: collapse;
    width: 1250px;
}

.tabla thead,.tabla tbody,.tabla td, .tabla th{
    display: block;
}
.tabla tbody td, .tabla thead > tr > th{
    float: left;
    border-bottom-width: 0;
}
.tabla td, .tabla th{
    padding: 10px 0 10px 0;
}
.tabCuerpo{
    text-align: center;
    width: 100%;
    height: 390px;
    overflow: auto;
}

.tabCuerpo tr:nth-child(odd){
    background-color: var(--color-fondo-btns);
}

.tabCuerpo >tr > td > .fselect{
    font-size: 1rem;
    padding: 2px;
}

.checkLis{
    width: 18px;
    height: 18px;
}

.btnGroup{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.btnLista{
    padding: 5px;
    border-radius: 6px;
}

.btnLista:hover{
    opacity: 60%;
}

.act{
background-color: var(--color-titulos);
}

.del{
background-color: var(--color-subTitulos);
}
.ate{
    font-size: 1.2rem;
    background-color: rgb(98, 177, 105);
}
.btnListaEdi{
    border: none;
    background-color: var(--color-titulos);
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 20px;
}
.btnListaEdi:hover{
    cursor: pointer;
}
/* --------------------------------------------Footer-------------------------------------------- */

footer {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-footer);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .contacto {
    width: 40%;
}

footer .ubicacion {
    width: 50vw;
    height: 50vh;
}

/* ---------------------------------------------Media queries--------------------------------------------- */
@media screen and (max-width: 1632px) {
    header {
            grid-template-columns: 10% 58% 30%;
        }

    .log, .reg {
        grid-template-columns: 65% 35%;
        gap: 0;
    }

    .divVacio{
        display: none;
    }

}

@media screen and (max-width: 990px) {
    .log, .reg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    
    .contlog2{
        justify-content: center;
        align-items: center;
    }

    .cajaMenu{
        left: 65%;
    }
}

@media screen and (max-width: 768px) {

    header {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,180px);
        gap: 0;
    }

    nav ul li{
        display: none;
    }

 

    footer {
        flex-direction: column;
    }

    footer .contacto {
        width: 100%;
    }

    footer .ubicacion {
        width: 80vw;
        height: 40vh;
    }

    .contenedorSlider,
    .contenedorSlider2 {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        max-width: none;
        width: 100%;
    }

    .logReg, .logAcc{
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .slider img,
    .slider2 img {
        width: 100%;
    }

    .contLogin-Caja > div > label{
        flex-direction: column;
        gap: 12px;
    }

    .serviciosMenu{
        height: 120px;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 0;
        width: 260px;
        justify-items: center;
    }
}