@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,500;0,700;1,300;1,500;1,700&display=swap');

/* Reset CSS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

/* Estilos globales */
/* Estilos del encabezado */
header {
    background-color: #fff;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

nav ul {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li a {
    color: #333;
    text-decoration: none;
}

nav ul li a:hover {
    color: #666;
}

/* Estilos del contenido principal */
main {
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-bottom: 20px;
}

p {
    line-height: 1.5;
    margin-bottom: 20px;
}

/* Estilos del pie de página */
footer {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .contacto{
    width: 40%;
}

footer .ubicacion{
    width: 50vw;
    height: 20vh;
}

/* Estilos puntuales */

/* Slides index */
.cajaSlider,
.cajaSlider2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.contenedorSlider,
.contenedorSlider2 {
    position: relative;
}

.contenedorSlider i,
.contenedorSlider2 i {
    top: 50%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.contenedorSlider i:first-child,
.contenedorSlider2 i:first-child {
    left: -23px;
    display: none;
}

.contenedorSlider i:last-child,
.contenedorSlider2 i:last-child {
    right: -23px;
}

.slider,
.slider2 {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider .dragging,
.slider2 .dragging {
    cursor: grab;
    scroll-behavior: auto;
}

.slider.dragging img,
.slider2.dragging img {
    pointer-events: none;
}

.slider img,
.slider2 img {
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 2);
}

.slider img:first-child,
.slider2 img:first-child {
    margin-left: 0px;
}

/* Media queries */
@media screen and (max-width: 900px) {}

@media screen and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
    }

    footer .contacto{
    width: 100%;
    }

        footer .ubicacion {
            width: 80vw;
            height: 40vh;
        }
}

@media screen and (max-width: 550px) {

    .slider img,
    .slider2 img {
        width: 100%;
    }
}