@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-header: #00020E;
    --color-fondo: rgba(115,134,204,0.4);
    --color-footer: #091830;
    --color-titulos: #4D51BF;
    --color-subTitulos: #FF5D00;
    --color-fuentes: #fff;
    --color-ventanas: #1E2028;
    --border-raduis: 16px;
    --logo-redondo: url(../img/g12.png);
    --logo-cuadrado: url(../img/radeans.png);
}

/* ---------------------------------------------Reset CSS--------------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Exo 2', sans-serif;
    font-weight: 300;
}

section{
    scroll-margin-top: 110px;
}

/* body::-webkit-scrollbar {
    width: .5rem;
}

body::-webkit-scrollbar-thumb {
    background-color: var(--color-subTitulos);
    outline: none;
    border-radius: 6px;
} */

/* ---------------------------------------------Estilos globales--------------------------------------------- */

.titulos {
    color: var(--color-titulos);
    font-weight: 600;
}

.subtitulos{
    color: var(--color-subTitulos);
    font-weight: 600;
}

body{
    background-color: var(--color-fondo);
}

main{
    min-height: 90vh;
}

/* ---------------------------------------------Header--------------------------------------------- */

header {
    width: 100%;
    height: 80px;
    background-color: var(--color-header);
    opacity: 80%;
    padding: 10px 32px;
    display: grid;
    grid-template-columns: 10% 68% 20% ;
    grid-gap: 10px;
    position: fixed;
    z-index: 1;
}

.logo {
    background-image: var(--logo-cuadrado);
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
}

header nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: auto; 
}

nav ul {
    display: flex;
    gap: 32px;
    list-style: none;
}

nav ul li:first-child{
    padding: 0;
}

nav ul li a,
.navLog, .navLog > a {
    text-decoration: none;
    font-size: 22px;
    font-weight: 700;
    color: var(--color-fuentes);
}

nav ul li a:hover, .logAcc:hover {
    color: var(--color-subTitulos);
}

header .navLog{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.logReg{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-subTitulos);
    width: 145px;
    height: 40px;
    border-radius: 22px;
}

.logReg:hover{
    background-color: var(--color-titulos);
}

/* ---------------------------------------------Slides index--------------------------------------------- */

.cajaSlider{
    display: flex;
    align-items: center;
    justify-content: center;

}

/* .contenedorSlider{
    background-color: var(--color-ventanas);
    border-radius: var(--border-raduis);
    padding: 24px;
    width: 100%;
    position: relative;
} */

.contenedorSlider i {
    top: 40%;
    height: 46px;
    width: 46px;
    cursor: pointer;
    font-size: 1.2rem;
    text-align: center;
    line-height: 46px;
    background-color: rgba(255,255,255,0.5);
    border-radius: 50%;
    position: absolute;
    transform: translateY(-50%);
}

.contenedorSlider i:first-child {
    left: 10px;
    display: none;
}

.contenedorSlider i:last-child{
    right: 10px;
}

.slider {
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider .dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.slider.dragging img{
    pointer-events: none;
}

.slider img {
    height: 80vh;
    object-fit: cover;
    width: calc(100% / 2);
}

.slider img:first-child{
    margin-left: 0px;
}

/* ---------------------------------------------Nosotros index--------------------------------------------- */

.nosotros {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 30px 0;
    gap: 24px;
    color: var(--color-header);
}

.nosotrosTexto {
    width: 70%;
    color: var(--color-footer);
    font-size: 22px;
    font-weight: 600;
}

/* ---------------------------------------------Cards--------------------------------------------- */

.punt {
    position: relative;
    min-height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-bottom: 32px;
}

.slidercards {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    overflow: hidden;
}

.slider-containerCards {
    display: flex;
    transition: transform 0.3s ease;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 330px;
    border: 2px solid var(--color-titulos);
    border-radius: 12px;
}

.card:nth-child(even){
    border-color: var(--color-subTitulos);
}

.cajaContenidosCard{
    width: 90%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nombreP {

}

.fotoP{

}

.puntP{

}

.prev,
.next {
    width: 46px;
    height: 46px;
    position: absolute;
    top: 50%;
    font-size: 2.5rem;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.prev {
    left: 400px;
}

.next {
    right: 400px;
}

/* ---------------------------------------------Footer--------------------------------------------- */

footer {
    max-width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: var(--color-footer);
    color: #fff;
    padding: 20px;
    text-align: center;
}

footer .contacto {
    width: 40%;
}

footer .ubicacion {
    width: 50vw;
    height: 50vh;
}

/* ---------------------------------------------Login y Registro--------------------------------------------- */

.log,.reg{
    min-height: 80vh;
    width: 100%;
    padding-top: 110px;
    display: grid;
    grid-template-columns: 10% 70% 10% 10%;
    margin-bottom: 30px;
}

.logT{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logT > h2, .reg > h2{
    font-size: 32px;
}

.contLogin{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.contLogin-Caja{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contLogin-Caja > div{
    width: 100%;
    height: 100%;
}

.contLogin-Caja > div > label{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 32px;
    color: var(--color-header);
    font-weight: 600;
    font-size: 22px;
}

.contLogin-Caja > div > label > input{
    width: 320px;
    height: 38px;
    padding: 6px 8px;
    border: 3px solid var(--color-titulos);
    border-radius: 16px;
    outline: none;
    font-size: 22px;
    font-weight: 400;
    transition: 500ms;
}

.contLogin-Caja > div > label > input:focus{
    border-color: var(--color-subTitulos);
}

.contLogin-Botonera{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.contLogin-Contra, .contLogin-Contra2{
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-header);
}

.contLogin-Contra:hover{
    color: var(--color-titulos);
}

.accederBTN{
    background-color: var(--color-titulos);
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 24px;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor: pointer;
    transition: 500ms;
}

.accederBTN:hover{
    background-color: var(--color-subTitulos);
}

.contlog2{
    width: 320px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.contlog2-Caja{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
}

.logoR{
    width: 120px;
    height: 120px;
    background-image: var(--logo-redondo);
    background-repeat: no-repeat;
    background-size: contain;
}

.contlog2-msj{
    text-decoration: none;
    font-weight: 600;
    font-size: 24px;
    color: var(--color-header);
}

.contLogin-Contra2{
    color: var(--color-subTitulos);
}

.contLogin-Contra2:hover{
    color: var(--color-titulos);
}

.regbtn{
    width: 140px;
}

/* ---------------------------------------------Media queries--------------------------------------------- */
@media screen and (max-width: 1632px) {
    header {
            grid-template-columns: 10% 58% 30%;
        }

    .log, .reg {
        grid-template-columns: 65% 35%;
        gap: 0;
    }

    .divVacio{
        display: none;
    }
}

@media screen and (max-width: 990px) {
    .log, .reg {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 60px;
    }
    
    .contlog2{
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {

    header {
        grid-template-columns: 100%;
        grid-template-rows: repeat(3,180px);
        gap: 0;
    }

    nav ul li{
        display: none;
    }

    .logo{
        display: none;
    }

    footer {
        flex-direction: column;
    }

    footer .contacto {
        width: 100%;
    }

    footer .ubicacion {
        width: 80vw;
        height: 40vh;
    }

    .contenedorSlider,
    .contenedorSlider2 {
        background-color: transparent;
        border-radius: 0;
        padding: 0;
        max-width: none;
        width: 100%;
    }

    .logReg, .logAcc{
        display: none;
    }

}

@media screen and (max-width: 550px) {

    .slider img,
    .slider2 img {
        width: 100%;
    }

    .contLogin-Caja > div > label{
        flex-direction: column;
        gap: 12px;
    }
}